<div class="container">
  <h1>Trailers</h1>

  <div>
    <label for="videoSelect">Selecciona un video:</label>
    <select id="videoSelect" [(ngModel)]="selectedVideo" name="selectedVideo">
      <option *ngFor="let video of videos" [ngValue]="video">{{ video.name }}</option>
    </select>
    <button (click)="playSelectedVideo()">Reproducir</button>
  </div>

  <div *ngIf="videoSrc">
    <video width="640" height="360" controls>
      <source [src]="videoSrc" type="video/mp4">
    </video>
  </div>
</div>
